<section class="mailing-list">
    <h3>
        Join Our Mailing List
    </h3>
    <div class="mailing-list-description">
        Sign up to be notified about app updates, when new posts go live, and other useful content only for subscribers. No spam, just great content.
    </div>
    <form action="http://pocketlinesman.us3.list-manage1.com/subscribe/post?u=4af6d87d5ae7052851e19e122&amp;id=c7b864dbc0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailing-list-form" target="_blank" novalidate="">
        <ul>
            <li>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required="">
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_f6f5acf557337da1e25762905_e401d43a15" value="">
                </div>
            </li>
            <li>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </li>
        </ul>
    </form>
  </section>